$WHITE: #eceef4;
$CRISTAL: #eceef45d;
$BLACKY: #474747;
$BLUEDK: #1f2044;
$GRAYBL: #243549;
$DARKBL: #09131f;
$GREENTEMP: #5ffe8c;
$BLUEHUM: #76bdff;

$boxShadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
  rgba(204, 204, 204, 0.25) 0px 50px 100px -20px,
  rgba(122, 122, 122, 0.3) 0px 30px 60px -30px;

$alternating-colors: ($BLUEDK, $GRAYBL, $DARKBL);
